# Ignore object files
*.o

# Ignore backup files
*~

# Ignore text documents
*.txt
*.docx
*.doc
*.pdf
*.odt

# Ignore image files
*.jpg
*.png
*.jpeg

# Ignore executable files
/Exercise1/HelloWorld
/Exercise2/Exercise2
